.pane {
    background: #fff;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px #dddddd; */
}

.header {
    background-color: #eee;
    margin: 5px;
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 5px;
    height: 30px;
}

ines (12 sloc) 366 Bytes

svg rect.selection {
  stroke: none;
}



button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}


.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}








